@import "tailwindcss";

@theme {
    --color-luxury-black: #0a0a0a;
    --color-luxury-cream: #f9f7f2;
    --color-luxury-accent: #b5a48b;

    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Inter", sans-serif;
    --font-mono: "Space Mono", monospace;
}

body {
    @apply bg-gray-50/50 text-luxury-black font-sans antialiased;
}

h1,
h2,
h3,
.serif {
    font-family: var(--font-serif);
}

/* Base styles for Admin */
.admin-header-serif {
    @apply font-serif;
}